.asside-menu {
  position: relative;
  width: 300px;
  min-width: 150px;
  padding: 20px;
  color: white;
  background-color: #0F0F0F;
  text-align: center;

  &__nav-wrapper {
    position: sticky;
    top: 130px;

    @media (max-width: 640px) {
      position: relative;
      top: auto;
    }
  }

  &__title {
    margin: 40px 0 20px;
    padding: 10px;
    background-color: #1a1a1a;
    letter-spacing: 1px;
    border-radius: 6px;
    cursor: default;

    &:nth-child(1) {
      margin-top: 10px;
    }
  }



  &__money {
    margin-top: 10px;
  }

  &__list {
    list-style: none;
  }

  &__link {
    margin-top: 10px;
    color: #ff8248;
    text-align: center;
    cursor: pointer;
    transition: .2s;
    border-radius: 6px;

    & a {
      padding: 10px;
      display: block;
      text-decoration: none;
      color: #ff8248;
      border-radius: 6px;
      border: 1px solid #ff8248;
      transition: .2s;
    }

    & .is-active {
      color: #fff;
      border-color: #bb4f21;
      background-color: #bb4f21;
    }

    & a:hover {
      color: #fff;
      border-color: #bb4f21;
      background-color: #bb4f21;
    }



  }

  &__money {
    margin-bottom: 20px;

    & span {
      margin-left: .3em;
      color: #ffbc00;
    }
  }
}